{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/melt_view.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
<h2>صفحه ابشده</h2>
<div class="image-container">
    {% if home_image %}
        <img src="{{ home_image.image.url }}" alt="Home Image">
    {% endif %}
</div>

</div>

<div class="grid-container">



    <div class="grid-item">
        <a href="{{ create_recipt_melt_invoice }}" class="no-underline">
            <div class="icon-box">
                <i class="fas fa-file-invoice"></i> <!-- آیکون سفارش -->
            </div>
            <h3>ثبت فاکتور تامین آبشده</h3>
        </a>
    </div>

    <div class="grid-item">
        <a href="{{ recipt_melt_invoice_list }}" class="no-underline">
            <div class="icon-box">
                <i class="fas fa-clipboard-list"></i> <!-- آیکون سفارش -->
            </div>
            <h3>فاکتورهای تامین آبشده</h3>
        </a>
    </div>

    <div class="grid-item">
        <a href="{{ sale_invoice_melt_list }}" class="no-underline">
            <div class="icon-box">
                <i class="fas fa-clipboard-list"></i> <!-- آیکون سفارش -->
            </div>
            <h3> فاکتورهای فروش آبشده</h3>
        </a>
    </div>

    <div class="grid-item">
        <a href="{{ sale_meltpiece_list }}" class="no-underline">
            <div class="icon-box">
                <i class="fas fa-shopping-cart text-success"></i> <!-- آیکون سفارش -->
            </div>
            <h3> لیست فروش کالاهای آبشده</h3>
        </a>
    </div>



</div>

{% endblock %}

{% block js %}
<script src="{% static 'accounts/js/melt_view.js' %}"></script>
{% endblock %}
