{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% load humanize %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/jalalidatepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'paniavault/css/buyraw_invoice_list.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
<div class="container">
    <h2>لیست فاکتورهای خرید طلای خام</h2>

    <!-- فرم فیلتر تاریخ -->
<form method="GET" class="filter-form">
     <div class="form-group">
        <input type="text" data-jdp name="end_date" placeholder="تاریخ پایان" autocomplete="off" value="{{ filters.end_date|default_if_none:'' }}" style="font-family: Vazirmatn, sans-serif; font-size: 12px;">
    </div>
    <div class="form-group">
        <input type="text" data-jdp name="start_date" placeholder="تاریخ شروع" autocomplete="off" value="{{ filters.start_date|default_if_none:'' }}" style="font-family: Vazirmatn, sans-serif; font-size: 12px;">
    </div>
    <div class="form-group">
        <input type="text" name="supply_name" placeholder="تامین کننده" value="{{ filters.supply_name|default_if_none:'' }}" style="font-family: Vazirmatn, sans-serif; font-size: 12px;">
    </div>
    <div class="supply_type-filters">
            <label>
                <input type="checkbox" name="supply_type" value="gallery"
                       {% if 'gallery' in supply_type %}checked{% endif %}>
                گالری
            </label>

            <label>
                <input type="checkbox" name="supply_type" value="platform"
                       {% if 'platform' in supply_type %}checked{% endif %}>
                پلتفرم
            </label>
        </div>

    <button type="submit" class="filter-button">جستجو</button>

    <a href="{% url 'paniavault:buyraw_invoice_list' %}?clear_filters=1" class="reset-button">
            <i class="fas fa-trash"></i>
    </a>
</form>




<h5 style="margin-left: 550px">لیست فاکتورهای خرید طلای خام</h5>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th style="width:40px">ردیف</th>
                    <th style="width:180px">تامین کننده</th>
                    <th style="width:50px">نوع تامین</th>
                    <th style="width:70px">وزن خرید</th>
                    <th style="width:60px">تاریخ فاکتور</th>
                    <th style="width:80px">نرخ روز طلا</th>
                    <th style="width:100px">جمع فاکتور</th>
                    <th style="width: 60px"> ثبت پرداخت</th>
                    <th style="width: 120px">مانده پرداخت</th>
                    <th style="width: 40px"> فاکتور</th>
                    <th style="width:80px">کاربر</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                <tr>
                    <td style="width:40px">{{ forloop.revcounter }}</td>
                    <td style="width:180px">{{ invoice.supplier }}</td>
                    <td style="width:50px">{{ invoice.supply_type }}</td>
                    <td style="width:70px">{{ invoice.net_weight }}</td>
                    <td style="width:60px">{{ invoice.invoice_date|date:"Y/m/d" }}</td>
                    <td style="width:80px">{{ invoice.invoice_dailyprice|intcomma:False }}</td>
                    <td style="width:100px">{{ invoice.invoice_price|intcomma:False }}</td>
                    <td style="width: 60px">
                        <a href="{% url 'finance:add_buyraw_invoice_payment' invoice.id %}">
                            <i class="fas fa-credit-card" style="color: #E67E22;"></i>
                        </a>
                    </td>
                    <td style="width: 120px">{{ invoice.remaining|intcomma:False }}</td>
                    <td style="width: 40px">
                        <a href="{% url 'paniavault:buyraw_invoice_detail' invoice.id %}">
                            <i class="fas fa-file-alt"></i>
                        </a>
                    </td>
                    <td style="width:80px">{{ invoice.companyseller }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">هیچ فاکتوری یافت نشد</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="total-row">
                    <td style="width: 40px"></td>
                    <td style="width: 180px; font-weight: bold; font-size: 12px;color:#3a1903">مانده طلب طلا {{ gold_balance }}</td>
                    <td style="width: 50px"></td>
                    <td style="width: 70px">{{ all_net_weight|intcomma:False }}</td>
                    <td style="width: 60px"></td>
                    <td style="width: 80px">AVG {{ weighted_avg_daily_price|intcomma:False }}</td>
                    <td style="width: 100px">{{ all_invoice_price|intcomma:False }}</td>
                    <td style="width: 60px"></td>
                    <td style="width: 120px; font-weight: bold; font-size: 11px;color:#1a1a19">{{ total_remaining|intcomma:False }} مانده بدهی</td>
                    <td style="width: 40px"></td>
                    <td style="width: 80px"></td>

                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'assets/js/jalalidatepicker.min.js' %}"></script>
<script>
    jalaliDatepicker.startWatch({
        minDate: "attr",
        maxDate: "attr",
        onSelect: function () {
            this.setAttribute('value', this.value);
        }
    });
</script>
{% endblock %}
