{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% load humanize %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/jalalidatepicker.min.css' %}" />
<link rel="stylesheet" href="{% static 'paniavault/css/buyraw_invoice_register.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
<div class="container">
    {% if messages %}
    <div class="messages">
        <ul class="message error">
            {% for message in messages %}
                <li class="message {{ message.tags }}">
                    <i class="fas fa-exclamation-circle"></i> <!-- آیکون برای خطا -->
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <h4 style="text-align: center">ثبت خرید طلای خام</h4>
    <div id="invoice-form-container">
        {% if form %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">ثبت فاکتور</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'paniavault/js/buyraw_invoice_register.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jalalidatepicker.min.js' %}"></script>
<script>
jalaliDatepicker.startWatch({
  minDate: "attr",
  maxDate: "attr"
});
</script>
<script>
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: "انتخاب تامین",
            allowClear: true
        });
    });
</script>
<script>
    // حذف پیام‌ها بعد از 5 ثانیه
    setTimeout(function() {
        var messages = document.querySelector('.messages');
        if (messages) {
            messages.style.transition = "opacity 0.5s ease";
            messages.style.opacity = "0"; // محو شدن پیام
            setTimeout(function() {
                messages.remove(); // حذف پیام از DOM
            }, 500); // صبر برای تکمیل محو شدن
        }
    }, 5000); // 5 ثانیه انتظار
</script>
{% endblock %}
