{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'paniavault/css/supplier_register.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
<div class="container">

    {% if messages %}
        <ul class="messages"> <!-- کلاس اضافه شد -->
            {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}" style="color: red; font-weight: bold;">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}


    <div id="customer-form-container">
        {% if form %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">ثبت تامین کننده</button>
            </form>
        {% endif %}
    </div>

</div>
{% endblock %}

{% block js %}
<script src="{% static 'paniavault/js/supplier_register.js' %}"></script>
<script>
    function showForm() {
        const customerType = document.getElementById('customer_type').value;
        const formContainer = document.getElementById('customer-form-container');
        if (customerType) {
            window.location.href = `?customer_type=${customerType}`;
        }
    }

    // حذف پیام‌ها بعد از 5 ثانیه
    setTimeout(function() {
        var messages = document.querySelector('.messages'); // انتخاب لیست پیام‌ها
        if (messages) {
            messages.style.transition = "opacity 0.5s ease";
            messages.style.opacity = "0"; // محو شدن پیام
            setTimeout(function() {
                messages.remove(); // حذف پیام از DOM
            }, 500); // صبر برای تکمیل محو شدن
        }
    }, 5000); // 5 ثانیه انتظار
</script>
{% endblock %}
